<launch>

    <include file="$(find legged_control)/launch/legged_control.launch" />
    <node pkg="spibot_control" type="spibot_move_noetic" name="spibot_move_noetic" />
    <!-- <node pkg="spibot_control" type="spibot_joint_move_noetic" name="spibot_joint_move_noetic" /> -->

    <!-- 数据处理节点 -->
    <node pkg="spibot_control" type="urdf_transformer" name="urdf_transformer" />

    <!-- 开启吸盘节点 -->
    <node pkg="spibot_control" type="apply_body_wrench_force_node" name="apply_body_force"/>


    <node pkg="spibot_control" type="odom_pub" name="odom_publisher" />

</launch>
