<launch>

  <!-- 添加点云坐标系到kinect坐标系的变换 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /camera /camera_depth" />
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find sipder_robot)/config/spibot.rviz" />
  <!-- 机器人状态发布节点 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- 需要自己移动拉条改变每个关节角度就解除注释 -->
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->
  <!-- 会发布一个/joint_states话题，由rviz的/robot_state_publisher节点订阅，但是只会发布0角度，
  需要注释掉joint_state_publisher，自己发布rviz话题，实现机器人在rviz中的同步运动，不注释掉会有数据冲突 -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- 用box_house1.world会造成机器人无法接触悬挂状态 -->
    <arg name="world_name" value="$(find sipder_robot)/worlds/box_house.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <arg name="user_debug" default="false"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sipder_robot)/xacro/spibot_with_sensors.xacro' DEBUG:=$(arg user_debug)"/>

  <!-- 加入风机叶片后就取消注释 -->
  <!-- <node name="model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -z 2.2 -x 1 -model spibot -param robot_description -unpause" /> -->

  <node name="model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -z 0.28 -model spibot -param robot_description -unpause" />

  <!-- Please add the following 2 lines in your own launch file -->
  <param name="robot_root" command="$(find xacro)/xacro --inorder '$(find sipder_robot)/xacro/root_.xacro'" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robotroot" args="-urdf -param /robot_root -model traj_base"/>


</launch>




